Exercises/10-2/SmartInvoice2005/SmartInvoice2005.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SmartInvoice2005" targetNamespace="http://tempuri.org/SmartInvoice2005.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/SmartInvoice2005.xsd" xmlns:mstns="http://tempuri.org/SmartInvoice2005.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ProductID" type="xs:string">
    </xs:element>
    <xs:element name="ProductName" type="xs:string">
    </xs:element>
    <xs:element name="QuantityPerUnit" type="xs:string">
    </xs:element>
    <xs:element name="UnitPrice" type="xs:double">
    </xs:element>
</xs:schema>